<head>
    <script src="~/Scripts/jquery-1.8.0.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
</head>

<h2>Welcome to Activity 3 Part 1</h2>
<h2>Current Time is @DateTime.Now</h2>